# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
test.py

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

tests/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_375242.pt
tests/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_428380.pt
tests/nohup.out
/data/checkpoints
datasets_v2/
/data/example_checkpoints
checkpoints/microsoft-deberta-v3-large/output-synthetic_queries_1.tsv/5e-06_1_True_Context_Relevance_Label_evaluation_datasets_670487.pt
/docs/new_env_test.ipynb
test.py
/ARES/data/output/hotpotqa_synthetc_queries_1.tsv
data/output/synthetic_queries_1.tsv
/ARES/data/output/synthetic_queries_2.tsv
/future/u/manihani/ARES/docs/ARES+Comparisons.ipynb
docs/ARES+Comparisons.ipynb
checkpoints/output-synthetic_queries_1.tsv/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_428380.pt
checkpoints/microsoft-deberta-v3-large/5e-06_1_True_Answer_Relevance_Label_nq_ratio_0.6_428380.pt
5e-06_1_True_Answer_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_428380.pt
datasets/example_checkpoints/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_428380.pt
datasets/example_checkpoints/Answer-Relevance-Validation-1867825.pt
datasets/example_checkpoints/Context-Relevance-Label.pt
datasets/synthetic_queries/NQ_Synthetic_Queries.tsv
docs/ARES+Classifier+IDP+UES+PPI.ipynb
docs/ARES+IDP+UES.ipynb
test.py
filter_v2.py
filter_v3.py
filter.py
test_file.tsv
test.py
Eval_Tests/DBRX/DBRX_FEVER_0.6_Eval
Eval_Tests/DBRX/DBRX_MultiRC_0.7_Eval
Eval_Tests/DBRX/DBRX_NQ_0.6_Eval
Eval_Tests/DBRX/DBRX_RECORD_0.7_Eval
Eval_Tests/DBRX/DBRX_WoW_0.6_Eval
Eval_Tests/GPT3.5/GPT3.5_Fever_0.6_Eval
Eval_Tests/GPT3.5/GPT3.5_NQ_0.6_Eval
Eval_Tests/Llama/Llama_FEVER_0.6_Eval
Eval_Tests/Llama/Llama_MultiRC_0.7_Eval
Eval_Tests/Llama/Llama_WoW_0.6_Eval
synthetic_queries_1.tsv
add.py
change.py
few_shot_example.tsv
filter_v4.py
filter_v5.py
package_test.py
ares/RAG_Automatic_Evaluation/Prepare_FinanceBench.py
AquaMuse/AquaMuse_retrieval.py
AquaMuse/aquamuse.py
AquaMuse/abstractive/abstractive_ratio_0.6.tsv
AquaMuse/abstractive/abstractive_ratio_0.7.tsv
AquaMuse/abstractive/abstractive_ratio_0.8.tsv
AquaMuse/abstractive/abstractive_ratio_0.9.tsv
AquaMuse/extractive/extractive_ratio_0.6.tsv
AquaMuse/extractive/extractive_ratio_0.7.tsv
AquaMuse/extractive/extractive_ratio_0.8.tsv
AquaMuse/extractive/extractive_ratio_0.9.tsv
checkpoint_test/Ares Answer Relevance Checkpoint V1.1 (3).pt
checkpoint_test/ares_answer_relevance_joint.pt
checkpoint_test/ares_context_relevance_joint.pt
ClapNQ/ClapNQ_0.6_predictions.tsv
ClapNQ/ClapNQ_dataset.tsv
ClapNQ/ClapNQ_duplicate_check.py
ClapNQ/clapnq_few_shot_prompt_for_synthetic_query_generation.tsv
ClapNQ/ClapNQ_few_shot_synth_gen.py
ClapNQ/ClapNQ_passages.tsv
ClapNQ/ClapNQ_ratio.py
ClapNQ/ClapNQ_raw.tsv
ClapNQ/ClapNQ_retrieval.py
ClapNQ/ClapNQ_synthetic_queries.tsv
ClapNQ/checkpoints/microsoft-deberta-v3-large/Context_Relevance_Label_clapnq_ratio_0.6_2024-08-13_23:57:21.pt
ClapNQ/ClapNQ_ratios/clapnq_ratio_0.6.tsv
ClapNQ/ClapNQ_ratios/clapnq_ratio_0.7.tsv
ClapNQ/ClapNQ_ratios/clapnq_ratio_0.8.tsv
ClapNQ/ClapNQ_ratios/clapnq_ratio_0.9.tsv
datasets/machine_label_datasets/fever_gold_label.tsv
datasets/machine_label_datasets/GPT4o_NQ_5FS_machine_gold_label.tsv
datasets/machine_label_datasets/GPT4o_NQ_20FS_machine_gold_label.tsv
datasets/machine_label_datasets/GPT4o_NQ_50FS_machine_gold_label.tsv
datasets/machine_label_datasets/GPT4o_NQ_machine_gold_label.tsv
datasets/machine_label_datasets/New_GPT4_NQ_20FS_machine_gold_label.tsv
datasets/machine_label_datasets/New_GPT4o_NQ_5FS_machine_gold_label.tsv
datasets/machine_label_datasets/New_GPT4o_NQ_10FS_machine_gold_label.tsv
datasets/machine_label_datasets/New_GPT4o_NQ_20FS_machine_gold_label.tsv
datasets/machine_label_datasets/New_Mixtral_NQ_20FS_machine_gold_label.tsv
datasets/machine_label_datasets/vLLM_New_GPT4_NQ_10FS_machine_gold_label.tsv
datasets/synthetic_queries/nq_synthetic_queries.tsv
docs/nq_ratio_0.6_filtered_Context_Relevance_Label.tsv
DuoRC/DuoRC_Retrieval.py
DuoRC/duorc.py
DuoRC/paraphraserc_few_shot_synth_gen.py
DuoRC/ParaphraseRC/paraphraserc_few_shot_prompt_for_synthetic_query_generation.tsv
DuoRC/ParaphraseRC/paraphraserc_ratio_0.6.tsv
DuoRC/ParaphraseRC/paraphraserc_ratio_0.7.tsv
DuoRC/ParaphraseRC/paraphraserc_ratio_0.8.tsv
DuoRC/ParaphraseRC/paraphraserc_ratio_0.9.tsv
DuoRC/ParaphraseRC/paraphraserc_synthetic_queries_test.tsv
DuoRC/ParaphraseRC/paraphraserc_synthetic_queries.tsv
DuoRC/SelfRC/selfrc_few_shot_prompt_for_synthetic_query_generation.tsv
DuoRC/SelfRC/selfrc_ratio_0.6.tsv
DuoRC/SelfRC/selfrc_ratio_0.7.tsv
DuoRC/SelfRC/selfrc_ratio_0.8.tsv
DuoRC/SelfRC/selfrc_ratio_0.9.tsv
DuoRC/SelfRC/selfrc_synthetic_queries_.tsv
ELECTRA_CR_Checkpoint/checkpoints/google-electra-large-discriminator/Context_Relevance_Label_nq_ratio_0.6_2024-08-09_13:56:20.pt
ELECTRA_CR_Checkpoint/checkpoints/google-electra-large-discriminator/Context_Relevance_Label_nq_ratio_0.6_2024-08-09_14:19:11.pt
example_files/nq_few_shot_prompt_for_judge_scoring.tsv
example_files/nq_few_shot_prompt_for_synthetic_query_generation.tsv
example_files/nq_labeled_output.tsv
example_files/nq_unlabeled_output.tsv
FinanceBENCH/conversion.py
FinanceBENCH/finance_bench.csv
FinanceBENCH/finance_bench.tsv
FreshQA/freshqa_few_shot_prompt_for_synthetic_query_generation.tsv
FreshQA/freshqa_few_shot.py
FreshQA/FreshQA_raw.tsv
FreshQA/freshqa_retriever.py
FreshQA/freshqa_synth_gen.tsv
FreshQA/Processed_FreshQA/freshqa_ratio_0.6.tsv
FreshQA/Processed_FreshQA/freshqa_ratio_0.7.tsv
FreshQA/Processed_FreshQA/freshqa_ratio_0.8.tsv
FreshQA/Processed_FreshQA/freshqa_ratio_0.9.tsv
joint_training_classifier/joint_training_dataset.tsv
joint_training_classifier/joint_validation_dataset.tsv
joint_training_classifier/checkpoints/microsoft-deberta-v3-large/Answer_Relevance_Label_joint_validation_dataset_2024-06-28_02:39:19.pt
late_chunking_classifier_output_run_1/model.safetensors
late_chunking_classifier_output_run_1/training_args.bin
late_chunking_classifier_output_run_1/checkpoint-10/model.safetensors
late_chunking_classifier_output_run_1/checkpoint-10/optimizer.pt
late_chunking_classifier_output_run_1/checkpoint-10/rng_state.pth
late_chunking_classifier_output_run_1/checkpoint-10/scheduler.pt
late_chunking_classifier_output_run_1/checkpoint-10/trainer_state.json
late_chunking_classifier_output_run_1/checkpoint-10/training_args.bin
late_chunking_classifier_output_run_1/embedding_cache/train_doc_embeddings.pkl
late_chunking_classifier_output_run_1/embedding_cache/train_query_embeddings.pkl
late_chunking_classifier_output_run_1/embedding_cache/val_doc_embeddings.pkl
late_chunking_classifier_output_run_1/embedding_cache/val_query_embeddings.pkl
late_chunking_classifier_output_run_1/logs/events.out.tfevents.1725239019.future-hgx-3.2166619.0
late_chunking_classifier_output_run_1/logs/events.out.tfevents.1725310533.future-hgx-3.2774721.0
late_chunking_classifier_output_run_1/logs/events.out.tfevents.1725310544.future-hgx-3.2774721.1
misc/100.tsv
misc/150.tsv
misc/another_filter.py
misc/another_rando.ipynb
misc/another_rando.py
misc/check_labels.py
misc/check.py
misc/column.py
misc/duplicate.py
misc/fever_synthetic_queries_prompt_test.tsv
misc/fever_synthetic_queries_prompt.tsv
misc/filter_v6.py
misc/hotpotqa_ratio_0.7_filtered_Answer_Relevance_Label.tsv
misc/hotpotqa_ratio_0.7_filtered.tsv
misc/hotpotqa_synthetic_queries_100.tsv
misc/hotpotqa_synthetic_queries.tsv
misc/issue.py
misc/new_fever.tsv
misc/new_nq.tsv
misc/nq_0.6_unlabeled.tsv
misc/nq_0.65_unlabeled.tsv
misc/nq_ratio_0.6_filtered_Context_Relevance_Label.tsv
misc/nq_ratio_0.7_querydocanswer.tsv
misc/nq_ratio_0.65_querydocanswer.tsv
misc/nq_synthetic_queries_100.tsv
misc/nq_synthetic_queries_200.tsv
misc/nq_synthetic_queries_context_higher_much_2000_unique.tsv
misc/nq_synthetic_queries_context_higher_much_2000.tsv
misc/nq_synthetic_queries_context_higher_much.tsv
misc/nq_synthetic_queries_context_higher.tsv
misc/nq_synthetic_queries_context.tsv
misc/nq_synthetic_queries_test_unique.tsv
misc/nq_synthetic_queries_test.tsv
misc/nq_synthetic_queries_uh.tsv
misc/nq_synthetic_queries.tsv
misc/record_synthetic_queries.tsv
misc/remove.py
misc/values.py
misc/wow_synthetic_queries.tsv
misc/NQ_CR_Checkpoint/checkpoints/microsoft-deberta-v3-large/Context_Relevance_Label_nq_ratio_0.6_2024-08-08_13:11:22.pt
misc/nq_training_classifier/checkpoints/microsoft-deberta-v3-large/Answer_Relevance_Label_nq_ratio_0.7_2024-06-28_23:32:19.pt
misc/ppi_few_shot/few_shot_prompt_5.tsv
misc/ppi_few_shot/few_shot_prompt_10.tsv
misc/ppi_few_shot/few_shot_prompt_20.tsv
misc/PPI_Tests/NQ0.7_RemovedColumn.tsv
misc/PPI_Tests/PPI_Context_NQ_0.6_Machine_Test
misc/PPI_Tests/PPI_GPT4_NQ_20FS_0.6
misc/PPI_Tests/PPI_Mixtral_NQ_20FS_0.6
misc/prediction_files/fever_0.6_predictions_updated.tsv
misc/prediction_files/hotpotqa_0.7_predictions_updated.tsv
misc/prediction_files/hotpotqa_predictions.tsv
misc/prediction_files/nq_0.6_prediction.tsv
misc/prediction_files/nq_0.6_predictions_context_updated.tsv
misc/prediction_files/nq_0.6_predictions_updated.tsv
misc/prediction_files/nq_0.65_predictions_updated.tsv
misc/prediction_files/nq_100_predictions.tsv
misc/prediction_files/nq_llm_predictions.tsv
misc/prediction_files/nq_predictions.tsv
misc/testing/Answer_Relevance_Label_joint_trained_date_time.pt
misc/testing/Context_Relevance_Label_joint_trained_date_time (1).pt
misc/tests/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_375242.pt
misc/tests/5e-06_1_True_Context_Relevance_Label_ratio_0.6_reformatted_full_articles_False_validation_with_negatives_428380.pt
misc/tests/nohup.out
misc/training_classifier/checkpoints/microsoft-deberta-v3-large/Answer_Relevance_Label_nq_ratio_0.6_2024-06-06_22:25:01.pt
misc/training_classifier/checkpoints/microsoft-deberta-v3-large/Answer_Relevance_Label_wow_ratio_0.6_2024-06-07_03:40:51.pt
misc/training_classifier_random/checkpoints/microsoft-deberta-v3-large/Answer_Relevance_Label_nq_ratio_0.6_2024-06-24_17:29:20.pt
NarrativeQA/100_rows.tsv
NarrativeQA/check_labels.py
NarrativeQA/check_ratio.py
NarrativeQA/cut_down.py
NarrativeQA/cut.py
NarrativeQA/narrativeqa_100_0.5.tsv
NarrativeQA/narrativeqa_few_shot_prompt_for_synthetic_query_generation.tsv
NarrativeQA/NarrativeQA_few_shot_synth_gen.py
NarrativeQA/narrativeqa_main.tsv
NarrativeQA/narrativeqa_ratio_0.5.tsv
NarrativeQA/narrativeqa_ratio_0.6_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.6_predictions_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.6_predictions.tsv
NarrativeQA/narrativeqa_ratio_0.6.tsv
NarrativeQA/narrativeqa_ratio_0.7_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.7_predictions_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.7_predictions.tsv
NarrativeQA/narrativeqa_ratio_0.7.tsv
NarrativeQA/narrativeqa_ratio_0.8.tsv
NarrativeQA/narrativeqa_ratio_0.9_predictions.tsv
NarrativeQA/narrativeqa_ratio_0.9.tsv
NarrativeQA/narrativeqa_ratio_0.55.tsv
NarrativeQA/narrativeqa_ratio_0.65_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.65_predictions_corrected.tsv
NarrativeQA/narrativeqa_ratio_0.65.tsv
NarrativeQA/narrativeqa_ratio_0.525.tsv
NarrativeQA/narrativeqa_ratio_0.575.tsv
NarrativeQA/narrativeqa_ratio_0.625.tsv
NarrativeQA/narrativeqa_ratio_0.675.tsv
NarrativeQA/NarrativeQA_retrieve.py
NarrativeQA/narrativeqa_synth_gen_cut_down.tsv
NarrativeQA/narrativeqa_synth_gen.tsv
NarrativeQA/NarrativeQA_synthetic_queries_test_10.tsv
NarrativeQA/narrativeqa.py
NarrativeQA/similarity_distribution.png
NarrativeQA/test_checkpoint.py
NarrativeQA/Big/narrativeqa_main.tsv
NarrativeQA/Big/narrativeqa_ratio_0.5.tsv
NarrativeQA/Big/narrativeqa_ratio_0.6.tsv
NarrativeQA/Big/narrativeqa_ratio_0.7.tsv
NarrativeQA/Big/narrativeqa_ratio_50.tsv
NarrativeQA/Big/narrativeqa_ratio_52.tsv
NarrativeQA/Big/narrativeqa_ratio_55.tsv
NarrativeQA/Big/narrativeqa_ratio_57.tsv
NarrativeQA/Big/narrativeqa_ratio_60.tsv
NarrativeQA/Big/narrativeqa_ratio_62.tsv
NarrativeQA/Big/narrativeqa_ratio_65.tsv
NarrativeQA/Big/narrativeqa_ratio_67.tsv
NarrativeQA/Big/narrativeqa_ratio_70.tsv
NarrativeQA/Big/narrativeqa_ratio_80.tsv
NarrativeQA/Big/narrativeqa_ratio_90.tsv
NarrativeQA/deberta-training/nohup.out
NarrativeQA/deberta-training/checkpoints/microsoft-deberta-v3-large/Context_Relevance_Label_2024-09-15_01:30:54.pt
NarrativeQA/DeBERTA_Training/checkpoints/microsoft-deberta-v3-large/Context_Relevance_Label_2024-10-10_02:23:36.pt
NarrativeQA/evaluation_0.6/NarrativeQA_9.
NarrativeQA/MLP_Training/checkpoints/MLP_embeddings/Context_Relevance_Label_2024-10-22_16:07:53.pt
NarrativeQA/New_Training/checkpoints/HuggingFaceTB-SmolLM-135M-Instruct/Context_Relevance_Label_2024-10-08_02:03:10.pt
NarrativeQA/SBERT_LateChunking/checkpoints/sentence-transformers-all-MiniLM-L6-v2/Context_Relevance_Label_2024-11-02_16:07:50.pt
NarrativeQA/SiameseModel/checkpoints/SiameseModel/Context_Relevance_Label_2024-11-02_01:23:05.pt
NarrativeQA/Small/narrativeqa_main.tsv
NarrativeQA/Small/narrativeqa_ratio_0.5.tsv
NarrativeQA/Small/narrativeqa_ratio_0.6.tsv
NarrativeQA/Small/narrativeqa_ratio_0.7.tsv
NarrativeQA/Small/narrativeqa_ratio_0.8.tsv
NarrativeQA/Small/narrativeqa_ratio_0.9.tsv
NarrativeQA/Small/narrativeqa_ratio_0.55.tsv
NarrativeQA/Small/narrativeqa_ratio_0.65.tsv
NarrativeQA/Small/narrativeqa_ratio_0.525.tsv
NarrativeQA/Small/narrativeqa_ratio_0.575.tsv
NarrativeQA/Small/narrativeqa_ratio_0.625.tsv
NarrativeQA/Small/narrativeqa_ratio_0.675.tsv
NarrativeQA/test/NarrativeQA_synthetic_queries_test_10.tsv
NarrativeQA/test/NarrativeQA_synthetic_queries_test.tsv
NarrativeQA/Training/best_model_Context_Relevance_Label.pt
NarrativeQA/Training/checkpoints/HuggingFaceTB-SmolLM-135M-Instruct/Context_Relevance_Label_2024-09-13_13:41:11.pt
NarrativeQA/Training/late_chunking_output_run_1/logs/events.out.tfevents.1725153255.future-hgx-2.3701811.0
NarrativeQA/Training/smollm_relevance_output_run_1/logs/events.out.tfevents.1725152593.future-hgx-2.3698864.0
NarrativeQA/Training/wandb/latest-run
NarrativeQA/Training/wandb/offline-run-20240831_180448-ogsh3xtc/run-ogsh3xtc.wandb
NarrativeQA/Training/wandb/offline-run-20240831_180448-ogsh3xtc/files/conda-environment.yaml
NarrativeQA/Training/wandb/offline-run-20240831_180448-ogsh3xtc/files/requirements.txt
NarrativeQA/Training/wandb/offline-run-20240831_180448-ogsh3xtc/files/wandb-metadata.json
NarrativeQA/Training/wandb/offline-run-20240831_180448-ogsh3xtc/files/wandb-summary.json
NarrativeQA/Training/wandb/offline-run-20240831_181507-6ickzlqo/run-6ickzlqo.wandb
NarrativeQA/Training/wandb/offline-run-20240831_181507-6ickzlqo/files/conda-environment.yaml
NarrativeQA/Training/wandb/offline-run-20240831_181507-6ickzlqo/files/requirements.txt
NarrativeQA/Training/wandb/offline-run-20240831_181507-6ickzlqo/files/wandb-metadata.json
NarrativeQA/Training/wandb/offline-run-20240831_181507-6ickzlqo/files/wandb-summary.json
NarrativeQA/Training_Long/checkpoints/microsoft-deberta-v3-large/Context_Relevance_Label_2024-10-21_15:10:56.pt
Prep/tensor_tutorial.py
synth_runs/fever_synthetic_queries_correct.tsv
synth_runs/fever_synthetic_queries.tsv
synth_runs/hotpotqa_synthetic_queries.tsv
synth_runs/multirc_synthetic_queries_correct.tsv
synth_runs/multirc_synthetic_queries.tsv
synth_runs/nohup.out
synth_runs/nq_synthetic_queries_correct.tsv
synth_runs/nq_synthetic_queries.tsv
synth_runs/record_synthetic_queries_correct.tsv
synth_runs/record_synthetic_queries.tsv
synth_runs/wow_synthetic_queries.tsv
wandb/latest-run
wandb/offline-run-20240902_020524-gsmni3at/run-gsmni3at.wandb
wandb/offline-run-20240902_020524-gsmni3at/files/conda-environment.yaml
wandb/offline-run-20240902_020524-gsmni3at/files/requirements.txt
wandb/offline-run-20240902_020524-gsmni3at/files/wandb-metadata.json
wandb/offline-run-20240902_020524-gsmni3at/files/wandb-summary.json
wandb/offline-run-20240902_135536-gafm6dvd/run-gafm6dvd.wandb
wandb/offline-run-20240902_135536-gafm6dvd/files/conda-environment.yaml
wandb/offline-run-20240902_135536-gafm6dvd/files/requirements.txt
wandb/offline-run-20240902_135536-gafm6dvd/files/wandb-metadata.json
wandb/offline-run-20240902_135536-gafm6dvd/files/wandb-summary.json
